@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html, body {
	font-family:'PT Serif', serif;
}

.ad_login-form {
	margin-left: 70px;
}

.ad_login-form-error {
	margin-bottom: 20px;
	margin-left: -65px;
}

.ad_message {
	margin-left: 50px;
	margin-top: -10px; 
}

.ad_dugme_otvori_zatvori {
	margin-top: 40px;
	margin-bottom: 75px;
	height: 150px;
	text-align:center;
}

.ad_dugme_omoguci_onemoguci {
	height: 150px;
	text-align:center;
}

.ad_dugme {
	position: center;
}

.ad_header {
	font-size: 50px;
	text-align: right;
	color: white;
	padding: 30px;
}

.ad_header_student {
	text-align: right;
	color: white;
	padding: 30px;
}

.ad_user_header {
	color: white;
	padding: 15px;
	position: right;
	/* margin-left: 14px; */
}

.ad_broj {
	font-size: 60px;
}

.ad_indeks {
	font-size: 16px;
}
.ad_poruka_status {
	margin-top: 37px;
	font-size: 16px;
}

.ad_redni_broj {
	font-size: 16px;
}

.ad_druga_kolona {
	margin-top: 37px;
	text-align: left;
}

.ad_duzina_reda {
	font-size: 16px;
}

.ad_dugme_izbaci {
	margin-top: 154px;
}
.ms_error {
	font-style: italic;
	color: red;
}
.ms_antispam {
	display: none;
}

.ad_prijava {
	margin-top: 250px;
}

.ad_salter_1 {
	
}
.prvi_glavni {
	float: left;
	width: 33%;
}

.drugi_glavni {
	float: left;
	width: 34%;
}

.treci_glavni {
	float: right;
	width: 33%;
}

.naziv_saltera_prvi {
	font-size: 30pt;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	background-color: #13acc2;
}

.naziv_saltera_drugi {
	font-size: 30pt;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	background-color: #ef9b5e;
}

.naziv_saltera_treci {
	font-size: 30pt;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	background-color: #e87c72;
}

.naslov {
	padding-top: 20px;
	font-size: 20pt;
	font-weight: 100;
	text-align: center
}

.na_redu_broj {
	font-size: 60pt;
	font-weight: 100;
	text-align: center;
	/*margin: -50px 0 -40px 0;*/
}

.br_preostalih {
	font-size: 50pt;
	font-weight: 120;
	text-align: center;
}

.pomocni {
	font-size: 20pt;
	font-weight: 100;
	text-align: center;
}

.body_monitor {
	font-family: 'Open Sans', sans-serif;
}
