html, body {
	font-family:'PT Serif', serif;
}

.ad_login-form {
	margin-left: 70px;
}

.ad_login-form-error {
	margin-bottom: 20px;
	margin-left: -65px;
}

.ad_message {
	margin-left: 50px;
}

.ad_dugme_otvori_zatvori {
	margin-top: 40px;
	margin-bottom: 75px;
	height: 150px;
	text-align:center;
}

.ad_dugme_omoguci_onemoguci {
	height: 150px;
	text-align:center;
}

.ad_dugme {
	position: center;
}

.ad_header {
	font-size: 50px;
	text-align: right;
	color: white;
	padding: 30px;
}

.ad_user_header {
	color: white;
	padding: 15px;
	position: right;
	/* margin-left: 14px; */
}

.ad_broj {
	font-size: 60px;
}

.ad_indeks {
	font-size: 16px;
}
.ad_poruka_status {
	margin-top: 37px;
	font-size: 16px;
}

.ad_redni_broj {
	font-size: 16px;
}

.ad_druga_kolona {
	margin-top: 37px;
	text-align: left;
}

.ad_duzina_reda {
	font-size: 16px;
}

.ad_dugme_izbaci {
	margin-top: 154px;
}